<a href="https://colab.research.google.com/github/taka11111111/Atcorder/blob/main/AtCoder_Beginner_Contest_190.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[AtCoder Beginner Contest 190 - AtCoder](https://atcoder.jp/contests/abc190)

#[A - Very Very Primitive Game](https://atcoder.jp/contests/abc190/tasks/abc190_a)

In [33]:
A,B,C = map(int,input().split())

2 2 1

In [34]:
A,B,C = map(int,input().split())
if C ==1:
  A+=1
else:
  B+=1
res = 'Takahashi' if A-B >=0 else 'Aoki'
print(res)

Takahashi

In [ ]:
AC× 13
WA× 1

あれ？？？

In [37]:
A,B,C = [2, 1, 0] #T
A,B,C = [2, 2, 0] #A
A,B,C = [2, 2, 1] #T

if C ==1:
  A+=1
else:
  B+=1
res = 'Takahashi' if A-B >=0 else 'Aoki'
print(res)

Takahashi

In [47]:
#A,B,C = [2, 1, 0] #T
#A,B,C = [2, 2, 0] #A
#A,B,C = [2, 2, 1] #T

A,B,C = map(int,input().split())
if C == 0:
  while A>=0 and B>=0:
    A-=1
    if A == -1:
      print('Aoki')
      break
    B-=1
    if B == -1:
      print('Takahashi')
      break
else:
  while A>=0 and B>=0:
    B-=1
    if B == -1:
      print('Takahashi')
      break

    A-=1
    if A == -1:
      print('Aoki')
      break

Takahashi

ていねいになぞったらできた。うん。

#[B - Magic 3](https://atcoder.jp/contests/abc190/tasks/abc190_b)

In [43]:
N,S,D = map(int,input().split())
for i in range(N):
  X,Y = map(int,input().split())
  if X < S and Y > D :
    print('Yes')
  else:
    print('No')

0

In [ ]:
N,S,D = map(int,input().split())
res = 'No'
for i in range(N):
  X,Y = map(int,input().split())
  if X < S and Y > D :
    res='Yes'
    #print('Yes')
    break
  #else:
  #  print('No')
print(res)

とおった！！！

#[C - Bowls and Dishes](https://atcoder.jp/contests/abc190/tasks/abc190_c)

問題文
1
,
2
,
…
,
N
 の番号がついた 
N
 個の皿と、
1
,
2
,
…
,
M
 の番号がついた 
M
 個の条件があります。
条件 
i
 は、皿 
A
i
 と皿 
B
i
 の両方にボールが (
1
 個以上) 置かれているとき満たされます。
1
,
2
,
…
,
K
 の番号がついた 
K
 人の人がいて、人 
i
 は皿 
C
i
 か皿 
D
i
 のどちらか一方にボールを置きます。
満たされる条件の個数は最大でいくつでしょうか？

やばい・・・意味がぜんぜんわからない！

In [ ]:
4 4
1 2
1 3
2 4
3 4
3
1 2
1 3
2 3

In [ ]:
N,M = map(int,input().split())
I = []
L = []

for i in range(M):
  A,B = map(int,input().split())
  if A > 0 and B > 0 :
    I.append(i)
  else:
    I.append(0)

K = int(input())

for l in range(K):
  C,D = map(int,input().split())
  if C > 0 and D > 0 :
    L.append(l)
  else:
    L.append(l)

print(I,L)

だめだーさっぱりわからん！！！

#[D - Staircase Sequences](https://atcoder.jp/contests/abc190/tasks/abc190_d)
整数からなる公差 
1
 の等差数列のうち、総和が 
N
 であるものはいくつあるでしょうか？

等差数列ってなんだろう。調べてみる。

[等差数列の和](https://www.kwansei.ac.jp/hs/z90010/sugakua/suuretu/tousasum/tousasum.htm)

In [ ]:
N = int(input())

[
12
]
[
3
,
4
,
5
]
[
−
2
,
−
1
,
0
,
1
,
2
,
3
,
4
,
5
]
[
−
11
,
−
10
,
−
9
,
…
,
10
,
11
,
12
]

In [ ]:
N = 12のとき
[ 12 ]
[ 3 , 4 , 5 ]
[ − 2 , − 1 , 0 , 1 , 2 , 3 , 4 , 5 ] 
[ − 11 , − 10 , − 9 , … , 10 , 11 , 12 ]
の４個

初項 a，公差 d，項数 n，末項 l の等差数列の初項から第 n 項までの和 Sn は，
N = ( 2a + (n-1) *d )*n /2
だから・・・

In [50]:
a = 12
d = 1
n = 1
( 2*a + (n-1) *d )*n /2

12.0

In [51]:
a = 3
d = 1
n = 3
( 2*a + (n-1) *d )*n /2

12.0

In [52]:
a = -2
l = 5
d = 1
n = 8
( 2*a + (n-1) *d )*n /2

12.0

In [54]:
n*(a + l)/2

12.0

In [56]:
a = -11
l = 12
d = 1
n = 24
n*(a + l)/2

12.0

In [57]:
( 2*a + (n-1) *d )*n /2

12.0

おもしろー！！！

In [58]:
#a = -11
#l = 12
#d = 1
#n = 24

#n*(a + l)/2 = 12
#n*(a + l) = 6
an + al = 6
#( 2*a + (n-1) *d )*n /2 = 12
#( 2*a + (n-1) )*n = 6
2an + n**2 - n = 6

12.0

うーん

In [ ]:
N = n*(a + l)/2

In [63]:
N = 12
for i in reversed(range(N+1)):
  print(i)

12
11
10
9
8
7
6
5
4
3
2
1
0

わからーーーん！！！